
{% load static %}
<!DOCTYPE html>
  <html>
    <head>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!-- Importing gooogle font sofia -->
		<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
		<!-- Import style sheet created -->
		<link rel="stylesheet" href="{% static 'todoapp/event.css' %}">
		
	</head>
	
	<body>
<div class="container"> 

<b><h1 id="sofia" >Event List</h1></b>
<fieldset>
	<b> Add an Event:</b>
	<form action="{% url 'details' %}" method="post">
    {% csrf_token %}
	<div class="input-field " style="position:relative;" >
	<b>Event:</b>
	<input id="text" type="text" placeholder="eg:attend dbms session"  name="text" class="browser-default" required><br>
	<button type="submit" id="register" class="btn #f50057 red   waves-effect waves-light"><span>REGISTER</span><i class="material-icons right">event_note</i></button> 
   </div>
</form></fieldset><br><br>

<fieldset style="width:100%;" >
<b>Upcoming Events:</b><br>
<div id="event_box">
<table>
    

    {% for item in results %}
		    <tr> <p  onclick="window.location='{% url 'completed' item.id %}';">
		    <label style="color:black">
            {% if item.completed  %} 
		        <input type="checkbox" class="filled-in checkbox-blue-grey " checked />
             {% else %}
                 <input type="checkbox" class="filled-in checkbox-blue-grey " unchecked />
            {% endif %}
		<span>{{ item.text }}</span>
		</label>
		</p></tr>
    {% empty %}
            <p>You don't have any upcoming Events yet!!! Add any Event :)</p>
    {% endfor %}
	
</table>
</div>
<br>
<table style="position:absalute;" width="100%"class="responsive-table" >
		<tr>
		<td><button type="submit" onclick="window.location='{% url 'deleted'  %}';" id="rm" class="btn #f50057 red   waves-effect waves-light"><span>Remove</span><i class="material-icons right">delete</i></button></td>
		<td><button type="submit" onclick="window.location='{% url 'deletes'  %}';" id="rm_all" class="btn #f50057 red   waves-effect waves-light"><span>Remove-All</span><i class="material-icons right">do_not_disturb</i></button></td> 
		</tr>
		
</table></fieldset></div>
<br><br><br>
</body>
</html>